@import url(./global.css);


/* Header */

header {
    background-color: var(--color-black);
    color: var(--color-french-white);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 55px;
    border-bottom: 2px solid var(--color-french-red);
    font-weight: var(--font-weigth-h4);
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-family: var(--font-family-primary);
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: var(--color-french-white);
    font-size: var(--font-size-h3);
}

.nav-links a:hover {
    transition: 0.3s;
    color: var(--color-french-red);
}

/* Main */

main {
    background-color: var(--color-black);
    color: var(--color-french-white);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    gap: 50px;
    border-bottom: 2px solid var(--color-french-red);
}

.france-main-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    width: 550px;
    align-items: center;
    transform: scale(1.2);
}

.france-main-text {
    font-size: var(--font-weigth-h1);
    color: var(--color-french-white);
    text-decoration: none;
}

.france-main-text h1 {
    width: 350px;
}


.discover-text-h1 {
    color: var(--color-baby-blue);
}


.french-blue-h1 {
    color: var(--color-french-blue);
}

.french-white-h1 {
    color: var(--color-french-white);
}

.french-red-h1 {
    color: var(--color-french-red);
}


/* Section Knowing the France */

.section-knowing-france {
    background-color: var(--color-black);
    color: var(--color-french-white);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
    font-weight: var(--font-weigth-body);
    padding: 50px 0px;
    border-bottom: 2px solid var(--color-french-red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

.knowing-intro-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 875px;
    gap: 30px;
    transform: scale(1.2);
}

.knowing-culture-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    width: 875px;
    flex-direction: row;
    transform: scale(1.2);
}

.knowing-culture-text h3{
    font-family: var(--font-weigth-h3);
    font-weight: var(--font-weigth-h3);
}

.knowing-culture-text img {
    border-radius: 15px;
    height: 375px;
    width: 375px;
}

.knowing-story-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    width: 875px;
    flex-direction: row-reverse;
    transform: scale(1.2);
}

.knowing-story-text h3{
    font-family: var(--font-weigth-h3);
    font-weight: var(--font-weigth-h3);
}

.knowing-story-text img {
    border-radius: 15px;
    height: 375px;
    width: 375px;
}

.knowing-scenery-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    width: 875px;
    flex-direction: row;
    transform: scale(1.2);
}

.knowing-scenery-text h3{
    font-family: var(--font-weigth-h3);
    font-weight: var(--font-weigth-h3);
}

.knowing-scenery-text img {
    border-radius: 15px;
    height: 375px;
    width: 375px;
}

.knowing-actually-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 875px;
    gap: 30px;
    transform: scale(1.2);
}

/* Section Photos */

.section-photos {
    background-color: var(--color-black);
    color: var(--color-french-white);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
    font-weight: var(--font-weigth-body);
    padding: 80px 200px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px solid var(--color-french-red);

}

.france-photo-list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 65px;
    width: 90%;
    margin: 0 auto;
    list-style: none;
}

.france-photo-list li {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.france-photo-list li {
    text-align: center;
}

.france-photo-list img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.france-photo-list li:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.france-photo-list h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weigth-h2);
}

/* Footer */

footer{
    background-color: var(--color-black);
    color: var(--color-french-white);
    padding: 30px 55px;
    font-family: var(--font-family-primary);
    font-size: var(--font-weigth-h3);
    font-weight: var(--font-weigth-h3);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Responsividade */